#!/bin/bash

# exon-capture-phylo demo configuration script
#
# Place in SAME directory as exon-capture-phylo.sh
#
# All pathnames MUST be absolute when using SGE.
# Replace <path> with the correct path in each non-dependency option.
# A good option is the absolute path of the directory in which the pipeline was installed.
#
# Dependency program parameters should be replaced with the path to the program binary.
# Picard and GATK parameters should be replaced with the path to the package directories.
#
# For more detailed configuration help, see "Configuration" in the pipeline manual.


# ===== General =====

# Directory of main script AND this config file
SCRIPT_DIR="<path>/exon-capture-phylo/"

# Output directory
OUT_DIR="<path>/ecp_output/"


# ===== Dataset =====


# Directory containing captured sequence reads for all samples
SAMPLES_DIR="<path>/demo_data/samples/"

# Sample names to analyse
SAMPLES_LIST="<path>/demo_data/samples/sample_names.txt"

# Read file name format
FORWARD_READS_SUFFIX="1_final"
REVERSE_READS_SUFFIX="2_final"
UNPAIRED_READS_SUFFIX="u_final"


# Protein reference 
ALL_PROTEIN_SEQS="<path>/demo_data/target_proteins/Anolis_carolinensis.AnoCar2.0.67.pep.all.fa"

# Target protein IDs used 
TARGET_PROTEIN_SEQS_LIST="<path>/demo_data/target_proteins/anolistargetproteins.txt.5"


# Target exons (capture targets, orthologous to target proteins)
ALL_EXON_SEQS="<path>/demo_data/target_exons/targetexons.fasta"

# Target exon IDs used 
TARGET_EXON_SEQS_LIST="<path>/demo_data/target_exons/targetexons.txt.5"


# ===== Resources =====

# Number of samples processed in parallel when NOT using SGE job arrays
XARGS_PARALLEL_SAMPLES=2

# Number of BLASTx processes per sample
BLAST_PROCS_PER_SAMPLE=4

# Heap size (gigabytes) allocated to Java per sample
JAVA_MAX_HEAP_SIZE=4


# ===== Assembly =====

# BLASTx expectation value
BLAST_EVALUE="1e-9"

# Velvet k-values to use
VELVET_K_VALUES=(31 41 51 61)

# Minimum recovered contig length fraction to pass filtering
MIN_OVERLAP="0.65"


# ===== Dependencies =====

BLASTALL_PATH="blastall"
MAKEBLASTDB_PATH="makeblastdb"

VELVETH_PATH="velveth"
VELVETG_PATH="velvetg"

EXONERATE_PATH="exonerate"
CAP3_PATH="cap3"

BOWTIE2_BUILD_PATH="bowtie2-build"
BOWTIE2_PATH="bowtie2"
SAMTOOLS_PATH="samtools"

PICARD_DIR="<Picard_path>/picard-tools-1.104/"
GATK_DIR="<GATK_path>/GenomeAnalysisTK-2.6-4-g3e5ff60/"
