#!/bin/bash

# Directory path of this script
SCRIPT_DIR="/home/benyhbai/asc2workspace/exon-capture-phylo/"

# Outermost output directory level
OUT_DIR="/home/benyhbai/asc2workspace/ecp_output/"


# Directory containing captured exon sequence reads files: fwd, rev and unpaired
#    format <sample_name_and_index>.fastq.gz
LIBRARIES_DIR="/home/benyhbai/asc2workspace/data/libraries/lib_10_trunc/"

# Names of captured exon sequence reads libraries to be used
LIBRARIES_LIST="/home/benyhbai/asc2workspace/data/libraries/lib_10_trunc/trunc100000_sample_names.txt"
# LIBRARIES_LIST="/home/benyhbai/asc2workspace/data/libraries/lib_10_trunc/sample_names.txt"


# FASTA with protein sequences of all (Anolis) exons
ALL_PROTEIN_SEQS="/home/benyhbai/asc2workspace/data/target_proteins/anolis_all/Anolis_carolinensis.AnoCar2.0.74.pep.all.fa"

# FASTA with protein sequences of target (Anolis) exons
TARGET_PROTEIN_SEQS="/home/benyhbai/asc2workspace/data/target_proteins/anolis_5/anolistargetproteins_trunc.fa"
# TARGET_PROTEIN_SEQS="/home/benyhbai/asc2workspace/data/target_proteins/anolis_3226/anolistargetproteins.fa"

# File with names of each target (Anolis) exon 
TARGET_PROTEIN_SEQS_LIST="/home/benyhbai/asc2workspace/data/target_proteins/anolis_5/anolisproteinlist_trunc.txt"
# TARGET_PROTEIN_SEQS_LIST="/home/benyhbai/asc2workspace/data/target_proteins/anolis_3226/anolisproteinlist.txt"


# Velvet k-values for captured exon assemblies
# TODO how 2 choose?
VELVET_K_VALUES=(31 41 51 61)
# VELVET_K_VALUES=(31 41 51 61 71 81)

# cap3 program directory to concat assembled captured exons
CAP3_DIR="/home/benyhbai/asc2workspace/software/CAP3/"


# Directory with nucleotide sequence FASTAs of each target (Carlia) exon
TARGET_EXON_SEQS_DIR="/home/benyhbai/asc2workspace/data/target_exons/all_target_exons/"

# File with names of each target (Carlia) exon 
TARGET_EXON_SEQS_LIST="/home/benyhbai/asc2workspace/data/target_exons/targetexons.txt.all_trunc"
# TARGET_EXON_SEQS_LIST="/home/benyhbai/asc2workspace/data/target_exons/targetexons.txt.all"

# 
MIN_OVERLAP=0.65

# Name for the blastx database that will be created from the (Anolis) target proteins
TARGET_PROTEIN_BLAST_DB_NAME="anolis.targets"

# Name for the blastx database that will be created from all (Anolis) proteins
ALL_PROTEIN_BLAST_DB_NAME="anolis.all"

CONTIG_NUM_FILE="/home/benyhbai/asc2workspace/data/countallcontigs.txt"


# Directories containing .jar files for GATK and Picard-tools
PICARD_DIR="/home/benyhbai/asc2workspace/software/picard-tools-1.104/"
GATK_DIR="/home/benyhbai/asc2workspace/software/GenomeAnalysisTK-2.6-4-g3e5ff60/"
