#!/bin/bash

# Directory path of this script
SCRIPT_DIR="/home/benyhbai/asc2workspace/exon-capture-phylo/"

# Outermost output directory level
OUT_DIR="/home/benyhbai/asc2workspace/ecp_output/"

# Directory containing sample files: fwd, rev and unpaired
#    format <sample_name_and_index>.fastq.gz
SAMPLES_DIR="/home/benyhbai/asc2workspace/data/samples/lib_10_trunc/"

# Names/Identifiers of samples to be used
SAMPLE_NAMES="/home/benyhbai/asc2workspace/data/samples/lib_10_trunc/sample_names.txt"

# FASTA with protein sequences of target (Anolis) exons
TARGET_SEQS="/home/benyhbai/asc2workspace/data/targets/anolis_trunc/anolistargetproteins_trunc.fa"

# Name for the blastx database that will be created from the targets
BLAST_DB_NAME="anolis.5"

# Velvet k-values
VELVET_K_VALUES=(31 41 51 61 71 81)

# Directory with FASTAs of each target exon
TARGET_SEQS_DIR="/home/benyhbai/asc2workspace/data/anolis_target_proteins/"

# File with names of each target exon
TARGET_SEQ_NAMES="/home/benyhbai/asc2workspace/data/targets/anolis_trunc/anolisproteinlist_trunc.txt"

# cap3 program directory
CAP3_LOCATION="/home/benyhbai/asc2workspace/CAP3/"
