#!/bin/bash

# exon-capture-phylo demo configuration script
# All pathnames MUST be absolute when using SGE
# For configuration help, see "Configuration" in the pipeline manual


# ===== General =====

# Path to this script
SCRIPT_DIR="/home/benyhbai/asc2workspace/exon-capture-phylo/"

# Output directory
OUT_DIR="/home/benyhbai/asc2workspace/ecp_output/"


# ===== Dataset =====

# Directory containing captured sequence reads for all samples
SAMPLES_DIR="/home/benyhbai/asc2workspace/data/samples/"

# Sample names to analyse
# SAMPLES_LIST="/home/benyhbai/asc2workspace/data/samples/sample_names.txt.10-13"
# SAMPLES_LIST="/home/benyhbai/asc2workspace/data/samples/sample_names.txt.10_trunc100000-11_trunc100000"
SAMPLES_LIST="/home/benyhbai/asc2workspace/data/samples/sample_names.txt.10_trunc100000"


# Protein reference 
ALL_PROTEIN_SEQS="/home/benyhbai/asc2workspace/data/target_proteins/Anolis_carolinensis.AnoCar2.0.67.pep.all.fa"

# Target protein IDs used 
TARGET_PROTEIN_SEQS_LIST="/home/benyhbai/asc2workspace/data/target_proteins/anolistargetproteins.txt.5"
# TARGET_PROTEIN_SEQS_LIST="/home/benyhbai/asc2workspace/data/target_proteins/anolistargetproteins.txt.3226"


# Target exons (capture targets, orthologous to target proteins)
ALL_EXON_SEQS="/home/benyhbai/asc2workspace/data/target_exons/targetexons.fasta"

# Target exon IDs used 
TARGET_EXON_SEQS_LIST="/home/benyhbai/asc2workspace/data/target_exons/targetexons.txt.5"
# TARGET_EXON_SEQS_LIST="/home/benyhbai/asc2workspace/data/target_exons/targetexons.txt.all"


# ===== Resources =====

# Number of samples processed in parallel when NOT using SGE job arrays
XARGS_PARALLEL_SAMPLES=2

# Number of BLASTx processes per sample
BLAST_PROCS_PER_SAMPLE=8

# Heap size (gigabytes) allocated to Java per sample
JAVA_MAX_HEAP_SIZE=4


# ===== Assembly =====

# Velvet k-values to use
VELVET_K_VALUES=(31 41 51 61)

# Minimum recovered contig length fraction to pass filtering
MIN_OVERLAP="0.65"


# ===== Dependencies =====

BLASTALL_PATH="blastall"
MAKEBLASTDB_PATH="makeblastdb"

VELVETH_PATH="velveth"
VELVETG_PATH="velvetg"

EXONERATE_PATH="exonerate"
CAP3_PATH="/home/benyhbai/asc2workspace/software/CAP3/cap3"

BOWTIE2_BUILD_PATH="bowtie2-build"
BOWTIE2_PATH="bowtie2"
SAMTOOLS_PATH="samtools"

PICARD_DIR="/home/benyhbai/asc2workspace/software/picard-tools-1.104/"
GATK_DIR="/home/benyhbai/asc2workspace/software/GenomeAnalysisTK-2.6-4-g3e5ff60/"
